<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Change</title>
</head>
<body>
<h1>Password Change</h1>
<form method="post">
    <label>id :</label><input type="text" name="member_email"><br>
    <label>pw :</label><input type="password" name="member_pw"><br>
    <label>pw-new :</label><input type="password" name="member_pw_new"><br>
    <input type="submit">
</form>
</body>
</html>